# Information for movies2ical

[notify17]
    new_calendar_url = "https://hook.notify17.net/api/template/<your-template-specifier>"
    error_url = "https://hook.notify17.net/api/template/<your-template-specifier>"

[plist]
    ProgramArguments = [
        "/path/to/python3",
        "/path/to/movies2ical.py",
        "--correct_times",
        "--notify"
    ]
    WorkingDirectory = "/directory/to/output/calendars/"
    StandardOutPath = "/path/to/stanford_out.txt"
    StandardErrorPath = "/path/to/stanford_err.txt"
    # new [[plist.StartCalendarInterval]] for each new date/time to run command
    [[plist.StartCalendarInterval]]
    # Sunday 3:00am
    Hour = 3
    Minute = 0
    Weekday = 0
    [[plist.StartCalendarInterval]]
    # Tuesday 3:00am
    Hour = 3
    Minute = 0
    Weekday = 2
    [[plist.StartCalendarInterval]]
    # Thursday 3:00am
    Hour = 3
    Minute = 0
    Weekday = 4
