# Information for movies2ical

[notify17]
new_calendar_url = "https://hook.notify17.net/api/template/<your-template-specifier>"
error_url = "https://hook.notify17.net/api/template/<your-template-specifier>"
